.stats-container {
  width: 100%;
}
.stats {
  max-width: 900px;
  margin: auto;
  padding-top: 3rem;
  color: #1c192d;
}
.stats h1 {
  padding: 1rem;
  font-size: 48px;
}
.stats h1::after {
  content: "";
  background: #ff3939;
  display: block;
  height: 10px;
  width: 180px;
}
/* filter */
.filter-container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
select {
		position:relative;
  width: 300px;
  background-color: white;
  border: 3px solid #1c192d;
  border-radius: 5px;
  color: #1c192d;
  padding: 1rem;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
.pos-filter::after, .team-filter::after{
		content:'\25bc';
		transform : translateX(-110%);
		color:#1c192d;
		height:20px;
		width:20px;
		display:inline-block;


}
.filter-button >p{
		color:white;
		padding: 0.5rem 1rem 0.5rem 1rem;
		background-color:#1c192d;
}
.filter-button > p:hover{
		cursor:pointer;
		background-color:#ff3939;
}
/*player list*/
.player-thumbnail {
  height: 100px;
  width: 80px;
}
.player-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.players-list {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.player {
  display: flex;
  justify-content: flex-start;
  border: 2px solid #1c192d;
  border-radius: 10px;
}
.player div {
		flex-grow:1;
  padding: 1rem 0.3rem 1rem 0.3rem;
}
.datatag::after {
  content: "";
  display: block;
  background: #ff3939;
  height: 3px;
  margin-top: 4px;
  margin-bottom: 6px;
  width: 60px;
}
.datavalue {
  font-weight: 500;
}
/* pagination */
.pagination {
		width:100%;
		margin:auto;
		min-height:70px;
		padding:1rem;
		max-width:900px;
		display:flex;
		justify-content:space-between;
}

.left-page, .right-page{
		color:#1c192d;
}
.left-page::before{
		content:"\25C4";
		font-size:30px;
}
.left-page:hover , .right-page:hover{
		color:#ff3939;
		cursor:pointer;
}
.right-page::before{
		content:"\25BA";
		font-size:30px;
}
.page-button{
		display:flex;
		gap:2px;
		align-items:center;
}
.page-button > span{
		width:20px;
		background-color:#1c192d;
		color:white;
		padding:5px;
}

.page-button > span:hover{
		scale:1.09;
		cursor:pointer;
}
